In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn import preprocessing
import plotly.express as px
import plotly.graph_objects as go

In [17]:
# Lendo o arquivo de dados
df = pd.read_csv('./data/dataset INCC.csv', sep = "\t")

# Exibindo as primeiras linhas do DataFrame
print("Primeiras linhas do DataFrame:")
display(df.head())

# Informações básicas sobre o DataFrame
print("\nInformações do DataFrame:")
display(df.info())

Primeiras linhas do DataFrame:

      Data  INCC Geral
0  1944.01  1,1164E-13
1  1944.02  1,1228E-13
2  1944.03  1,1674E-13
3  1944.04  1,1945E-13
4  1944.05  1,1881E-13

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        975 non-null    float64
 1   INCC Geral  975 non-null    object
dtypes: float64(1), object(1)
memory usage: 15.4+ KB

None

In [24]:
df['INCC Geral float'] = df['INCC Geral'].apply(lambda x: float(x.replace('.', '').replace(',', '.')))

In [ ]:
df.drop(columns=['INCC Geral','INCC Geral str'], inplace=True)

print(df.head())

      Data  INCC Geral float
0  1944.01      1.116400e-13
1  1944.02      1.122800e-13
2  1944.03      1.167400e-13
3  1944.04      1.194500e-13
4  1944.05      1.188100e-13